
.num {

    position: absolute;
    color: white;
    bottom: 10px;
    font-size: 5rem;

}

.pageNum {
    position: absolute;
    top: 100%;
    left: 15px; 

    margin-top: -30px;
    
}

.pageNumRight {
    position: absolute;
    top: 100%;
    right: 15px; 

    margin-top: -30px;
}

.mainDiv {

    position: absolute;
    top: 50%;
    left: 50%;

    height: 600px;
    width: 850px;

    margin-left: -400px;
    margin-top: -300px;

}

.mainImg {

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    transform: scale(1.25);

    
}

 .buttonsDiv {
    position: absolute;
    bottom: 50px;
}

.divPages {

    position: absolute;

    top: 58px;
    left: 21px;

    height: 470px;
    width: 798px;
    
 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

} 

.pageStyleLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: auto; 

    border-radius: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 15px;
    z-index: 1; 

    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 1);
}

.pageStyleRight {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%; 
    height: auto; 
    z-index: 1; 

    border-radius: 5px;
}

.mainInfo {
    height: 455px;

    padding: 10px;

    position: relative;
    z-index: 2; 

}

.divAnimation {
    position: absolute;
    top: 58px;
    left: 21px;

    height: 476px;
    width: 798px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


.textAni {
    position: absolute;
    padding: 10px;
    
    z-index: 11;
}
